*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;

}
.headZoo{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.logotipo a .imgLogo{
    background-image: url(../img/2.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 0px -75px;
    width: 300px;
    height: 60px;
}
#menu-toggle{
    display: none;
}
.menu{
    width: 100%;
    margin-top: 10px;
}
.menu ul{
    display: flex;
    justify-content: space-evenly;
    list-style-type: none;
    padding: 20px 25px;
    width: 100%;
    background-color:#99C210;
}
.menu ul li a{
    text-decoration: none;
    color: #fff;
    text-shadow: 1px 1px 2px black;
    font-weight: bold;
    letter-spacing: 2.5px;
    font-family: sans-serif;
}
.menu ul li a:hover{
    color:  red;

}
.menu-icon {
    font-size: 24px;
    cursor: pointer;
    display: none;
}
.menuOpNone{
    display: none;
}

/* Media query para estilos responsivos */
@media screen and (max-width: 768px) {
nav.menu {
    display: none;
    position: absolute;
    right: 0;
    top: 8%;
    width: auto;
       
}
.menu ul{
    flex-direction: column;
    height: 90vh;
    border-radius: 15px 0px 0px 15px;
}
.menu ul li{
        margin-bottom: 10px;
}
.menu-icon {
    display: block;
    position: fixed;
    top: 20px;
    right: 20px;
    z-index: 2; /* Certifica-se de que o ícone do menu fique acima do conteúdo */
}
.menuOpNone{
    display: block;
}
}

#menu-toggle {
    display: none;
}

#menu-toggle:checked + .headZoo .menu {
    display: flex;
}

@media screen and (max-width: 360px) {
.logotipo a .imgLogo{
    background-position: 0px -55px;
    width: 200px;
    height: 30px;
}
nav.menu{
    top: 3%;
    height: 95vh;
    width: 100%;
    border-radius: 0px;
}
.menu ul{
    width: 100%;
    border-radius: 0px;
}
.menu-icon {
    top: 5px;
    right: 10px;
}
}